<div class="page-content">
  <div>
    <h2>VILA Loris, qui suis-je ?</h2>
    <p class="font-john-doe">
      Je suis actuellement en alternance dans l'entreprise nationale ferroviaire française 😎, la SNCF !<br>
      Entreptrise dans laquelle je peux réaliser différents projets électrotechniques et informatiques...
    </p>
  </div>
  <div id="div-containers">
    <wcs-card mode="flat" id="github-activity-container" class="page-item-container">
      <wcs-card-body>
        <h3>Github Activity</h3>
        <img src="https://ghchart.rshah.org/lorisvila" alt="lorisvila's Github chart"/>
      </wcs-card-body>
    </wcs-card>
    <wcs-card mode="flat" id="last-ig-photo-container" class="page-item-container">
      <wcs-card-body>

      </wcs-card-body>
    </wcs-card>
  </div>
</div>
